body {
	background: #f9e933;
}

p {
font-family: 'Droid Sans', sans-serif;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
}

header h1, h2, h3, h4 {
	float: left;
	width: 570px;
	font-family: 'Ubuntu', sans-serif;
}

header nav {
	float: right;
	width: 285px;
}

main {
	background: white;
}


footer h5 .sitemap {
	float: right;
	width: 285px;
}

footer .sitemap {
	float: right;
	width: 285px;
}


footer .contact {
	float: left;
	width: 570px;
}

footer h5 .contact {
	float: left;
	width: 570px;
}
